@charset "utf-8";

html {
  font-size: 10px;
}

.headerArea {
  position: relative;
}
header {
  position: relative;
  color: white;
  transition: all 0.5s;
}
header h1 {
  text-align: center;
  background: url(../img/sulwhasoo_white_logo_220902.png)no-repeat center;
  width: 100%;
  height: 4.5em;
}
header .lang {
  position: absolute;
  top: 1.5em;
  left: 10%;
  font-size: 1.5em;
}
header .langDown {
  display: none;
}
header .gnb {
  text-align: center;
  font-size: 1.7em;
}
header .gnb > li {
  display: inline-block;  
  position: relative;
}
header p {
  position: absolute;
  top: 1.5em;
  right: 10%;
  font-size: 1.5em;
}
header p span {
  position: relative;
  margin-right: 1.5em;
}
header p span::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25%;
  width: 2px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
}
/* 기본 헤더 허버 */
header:hover {
  background: #fff;
  color: #000;
  transition: all 0.5s;
}
header:hover .logo {
  background: url(../img/sulwhasoo_orange_logo_220902.png) no-repeat center;
}
header .gnb > li > a {
  position: relative;
  padding: 1em 1.8em;
  display: block;
  background-color: #666;
}
header .gnb > li > a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 2px;
  background: #000;
  transition: all 0.2s;
  z-index: 5;
}
header .gnb > li:hover > a:before {width: 100%;}
.bg_gnb {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 14.7em;
  height: 3em;
  background: rgba(255, 255, 255, 0.5);
}
header .gnb > li ul {
  position: absolute;
  z-index: 10;
  width: 30em;
  display: none;
}
header .gnb > li > ul > li {
  float: left;
}
header .gnb > li > ul li a {
  display: block;
  padding-right: 1.5em;
  line-height: 4em;
  font-size: 1.5rem;
  color: #666;
}
header .gnb > li ul li a:hover,
header .gnb > li ul li a:focus {
  color: #000;
  font-weight: bold;
}

.bg_last {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 14.7em;
  height: 20em;
  background: rgba(255, 255, 255, 0.5);
}

/* swiper */
.mainBanner {
  position: relative;
  width: 100%; height: 670px;
  background: #000;
  
}
.swiper-wrapper {width: 100%; height: 670px; background: #000;}
.swiper-slide.bg01 {width: 100%; height: 670px; background:url(../img/20230419_final_BRAND-CAMPAIGN-PAGE_main_KV_pc.jpg) no-repeat center/cover;}
.swiper-slide.bg02 {background: url(../img/20230519_final_rose-global-ambassador-2nd-cover_KV_banner_pc.jpg);}
.swiper-slide.bg03 {background: url(../img/20230522_final_CGR-CREAM_main_KV_pc.jpg);}
.swiper-slide.bg04 {background: url(../img/20230525_final_tilda-swinton_KV_banner_pc.jpg);}
.swiper-slide.bg05 {background: url(../img/20230608_final_SULWHASOO-ASF_main_KV_pc.jpg);}

#brand {
  width: 50em;
}
#brand > li {
  width: calc(100%/4 - 3.5em);
  margin-left: 3.5em;
  text-align: left;
}
#brand > li > a {
  color: #000;
  font-weight: bold;
}
#brand > li > ul {
  display: block;
  text-align: left;
}
#brand > li > ul > li > a {
  line-height: 2.5em;
}
.gnb_last > ul {
  position: absolute;
  left: -400%;
  top: 120%;
  width: 100%;
}
.gnb_last > ul > a {
  line-height: 1em;
}